body{
    background-color: white;
    text-align: center;
}

button {
    margin: 0, auto;
    padding: 10px;
    background-color: red;
}

button:hover {
    background-color: white;
}




